/* Html, Body 기본 설정 */
html, body{
    /* 너비와 높이를 100%로 설정 */
    /* 만약 화면 전체 크기가 달라져도 변수 대응이 가능하도록 */
    width: 99.7%;
    height: 100%;
}

/* A 태그 기본설정 */
a{
    /* 기본적으로 블루-퍼플인 색깔을 흰색으로 지정 */
    color: white;
    /* 텍스트 아래쪽 밑줄 데코 삭제 */
    text-decoration:none;
}

/* 슬라이스 바 */
#slice-bar{
    border-top: solid white;
}