/* 오른쪽 -> 왼쪽 */
.Right_Slide_In{
    animation: Right_Slide_In 1s;
}

@keyframes Right_Slide_In {
    from{
        margin-left: 100%;
    }

    to{
        margin-left: 0%;
    }
}

/* 왼쪽 -> 오른쪽 */
.Left_Slide_In{
    animation: Left_Slide_In 1s;
}

@keyframes Left_Slide_In {
    from{
        margin-right: 100%;
    }

    to{
        margin-right: 0%;
    }
}

/* 아래 -> 위 */

#R2{
    left: 2%;
}
#R3{
    top: -3%;
}

.circle1{
    animation: Slide_RF 2s infinite;
    position: absolute;
    top: 120%;
    color: white;
    font-size: 200%;
}

@keyframes Slide_RF {
    from{
        right: 120%;
    }

    to{
        right: -7%;
    }
}

.circle4{
    animation: Slide_RF2 2s infinite;
    position: absolute;
    top: 120%;
    color: white;
    font-size: 200%;
}

@keyframes Slide_RF2 {
    from{
        left: 120%;
    }

    to{
        left: -7%;
    }
}

.circle2{
    animation: Slide_Up 2s infinite;
    position: absolute;
    top: -40%;
    color: white;
    font-size: 200%;
}

@keyframes Slide_Up {
    from{
        top: -20%;
    }

    to{
        top: 107%;
    }
}

.circle3{
    animation: Slide_DW 2s infinite;
    position: absolute;
    top: 120%;
    color: white;
    font-size: 200%;
}

@keyframes Slide_DW {
    from{
        top: 120%;
    }

    100%{
        top: -7%;
    }
}

/* 트렌제이션 */
#TranZ_250{
    transition: all 250ms;
}

#TranZ_500{
    transition: all 500ms;
}

#TranZ_750{
    transition: all 750ms;
}

#TranZ_2s{
    animation: T2 2s;
    position: absolute;
    top: 99%;
    right: 0%;
    font-size: 200%;
    color: rgba(0, 0, 0, 0);
}

@keyframes T2 {
    from{
        color: white;
    }

    to{
        color: black;
    }
}


#RainbowColor1{
    animation: RainbowHov 7s infinite 0.0s linear;
    position: absolute;
}
#RainbowColor2{
    animation: RainbowHov 7s infinite 0.2s linear;
    position: absolute;
}
#RainbowColor3{
    animation: RainbowHov 7s infinite 0.4s linear;
    position: absolute;
}
#RainbowColor4{
    animation: RainbowHov 7s infinite 0.6s linear;
    position: absolute;
}
#RainbowColor5{
    animation: RainbowHov 7s infinite 0.8s linear;
    position: absolute;
}
#RainbowColor6{
    animation: RainbowHov 7s infinite 1.0s linear;
    position: absolute;
}
#RainbowColor7{
    animation: RainbowHov 7s infinite 1.2s linear;
    position: absolute;
}
#RainbowColor8{
    animation: RainbowHov 7s infinite 1.4s linear;
    position: absolute;
}
#RainbowColor9{
    animation: RainbowHov 7s infinite 1.6s linear;
    position: absolute;
}
#RainbowColor10{
    animation: RainbowHov 7s infinite 1.8s linear;
    position: absolute;
}
#RainbowColor11{
    animation: RainbowHov 7s infinite 2.0s linear;
    position: absolute;
}
#RainbowColor12{
    animation: RainbowHov 7s infinite 2.2s linear;
    position: absolute;
}
#RainbowColor13{
    animation: RainbowHov 7s infinite 2.4s linear;
    position: absolute;
}
#RainbowColor14{
    animation: RainbowHov 7s infinite 2.6s linear;
    position: absolute;
}
#RainbowColor15{
    animation: RainbowHov 7s infinite 2.8s linear;
    position: absolute;
}
#RainbowColor16{
    animation: RainbowHov 7s infinite 3.0s linear;
    position: absolute;
}
#RainbowColor17{
    animation: RainbowHov 7s infinite 3.2s linear;
    position: absolute;
}
#RainbowColor18{
    animation: RainbowHov 7s infinite 3.4s linear;
    position: absolute;
}
#RainbowColor19{
    animation: RainbowHov 7s infinite 3.6s linear;
    position: absolute;
}
#RainbowColor20{
    animation: RainbowHov 7s infinite 3.8s linear;
    position: absolute;
}
#RainbowColor21{
    animation: RainbowHov 7s infinite 4.0s linear;
    position: absolute;
}
#RainbowColor22{
    animation: RainbowHov 7s infinite 4.2s linear;
    position: absolute;
}
#RainbowColor23{
    animation: RainbowHov 7s infinite 4.4s linear;
    position: absolute;
}
#RainbowColor24{
    animation: RainbowHov 7s infinite 4.6s linear;
    position: absolute;
}
#RainbowColor25{
    animation: RainbowHov 7s infinite 4.8s linear;
    position: absolute;
}
#RainbowColor26{
    animation: RainbowHov 7s infinite 5.0s linear;
    position: absolute;
}
#RainbowColor27{
    animation: RainbowHov 7s infinite 5.2s linear;
    position: absolute;
}
#RainbowColor28{
    animation: RainbowHov 7s infinite 5.4s linear;
    position: absolute;
}
#RainbowColor29{
    animation: RainbowHov 7s infinite 5.6s linear;
    position: absolute;
}
#RainbowColor30{
    animation: RainbowHov 7s infinite 5.8s linear;
    position: absolute;
}
#RainbowColor31{
    animation: RainbowHov 7s infinite 6.0s linear;
    position: absolute;
}
#RainbowColor32{
    animation: RainbowHov 7s infinite 6.2s linear;
    position: absolute;
}
#RainbowColor33{
    animation: RainbowHov 7s infinite 6.4s linear;
    position: absolute;
}
#RainbowColor34{
    animation: RainbowHov 7s infinite 6.6s linear;
    position: absolute;
}
#RainbowColor35{
    animation: RainbowHov 7s infinite 6.8s linear;
    position: absolute;
}

@keyframes RainbowHov {
    from{
        background-color: rgba(0, 0, 0, 0) ;
        transform: 
            rotateY(90deg)
            scale(2);
        transform-origin: center center -10px;
        right: 2%;
        top: 5%;
    }
    6.25%{z-index: 1;}
    12.5%{
        background-color: red ;
        transform: 
            rotateY(270deg)
            scale(1);
        transform-origin: center center -10px;
    }
    18.75%{z-index: 100;}
    25.0%{
        background-color: orange ;
        transform: 
            rotateY(90deg)
            scale(2);
        transform-origin: center center -10px;
    }
    31.25%{z-index: 1;}
    37.5%{
        background-color: yellow ;
        transform: 
            rotateY(270deg)
            scale(1);
        transform-origin: center center -10px;
    }
    43.75%{z-index: 100;}
    50.0%{
        background-color: yellowgreen ;
        transform: 
            rotateY(90deg)
            scale(2);
        transform-origin: center center -10px;
    }
    56.25%{z-index: 1;}
    62.5%{
        background-color: skyblue ;
        transform: 
            rotateY(270deg)
            scale(1);
        transform-origin: center center -10px;
    }
    68.75%{z-index: 100;}
    75.0%{
        background-color: blue ;
        transform: 
            rotateY(90deg)
            scale(2);
        transform-origin: center center -10px;
    }
    81.25%{z-index: 1;}
    87.5%{
        background-color: rgb(111, 0, 255) ;
        transform: 
            rotateY(270deg)
            scale(1);
        transform-origin: center center -10px;
    }
    93.75%{z-index: 100;}
    to{
        background-color: rgba(0, 0, 0, 0) ;
        transform: 
            rotateY(90deg)
            scale(2);
        transform-origin: center center -10px;
        top: 88%;
        right: 2%;
    }

}

.BBox{
    top: 55%;
    color: rgb(255, 255, 255);
    left: 45%;
    position: absolute;
    z-index: 53;
    font-size: 700%;
    padding: 0%;
    /* transform-origin: 1-50% 1-50% 1-50%; */
}

.BBoxT{
    top: 55%;
    background-color: rgba(0, 0, 0, 0);
    left: 45%;
    position: absolute;
    z-index: -1;
}

.BBox3{
    top: 55%;
    background-color: rgb(0, 0, 0);
    left: 45%;
    transform: rotateX(0deg)
        rotateY(360deg)
        perspective(700px);
    transform-origin: center center -140px;
    position: absolute;
    z-index: -1;
}

#BOXY1{
    animation: BOX 6s infinite 0s linear;
    top: 50%;
    left: 35%;
    position: absolute;
    /* background-color: azure; */
    z-index: 0;
    border-radius: 10%;
    border: 20px solid white;
    font-size: 600%;
}
#BOX_BUT{
    font-size: 200%;
    border: 0px solid black;
    border-radius: 10%;

}
#BOX_BUT:hover{
    animation: alternate;
}
#BOXY2{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.541);
    
    transform: rotateX(4deg)
        rotateY(14deg)
        rotateZ(0deg)
        perspective(700px)
        scale(13);
    left: 43%;
    top: 47%;
    transform-origin: center center;
    z-index: 50;
    box-sizing: 50px 50px 50px;
    box-shadow: 0 50px 50px;
}

#BOXY3{
    position: absolute;
    background-color: rgba(192, 192, 192, 0);
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
    z-index: 100;
    box-sizing: 50px 50px 50px;
    box-shadow: 0 50px 50px;
}

#Box_FOX{
    font-size: 200%;
    border: 2px solid rgb(255, 255, 255);
}


#BOXT0{animation: BOX2 12s infinite 1s linear;}
#BOXT1{animation: BOX2 12s infinite 2s linear;}
#BOXT2{animation: BOX2 12s infinite 3s linear;}
#BOXT3{animation: BOX2 12s infinite 4s linear;}
#BOXT4{animation: BOX2 12s infinite 5s linear;}
#BOXT5{animation: BOX2 12s infinite 6s linear;}
#BOXT6{animation: BOX2 12s infinite 7s linear;}
#BOXT7{animation: BOX2 12s infinite 8s linear;}
#BOXT8{animation: BOX2 12s infinite 9s linear;}
#BOXT9{animation: BOX2 12s infinite 10s linear;}
#BOXT10{animation: BOX2 12s infinite 11s linear;}
#BOXT11{animation: BOX2 12s infinite 0s linear;}

#BOXR0{animation: BOX3 600s infinite .1s linear;}
#BOXR1{animation: BOX3 600s infinite .2s linear;}
#BOXR2{animation: BOX3 600s infinite .3s linear;}
#BOXR3{animation: BOX3 600s infinite .4s linear;}
#BOXR4{animation: BOX3 600s infinite .5s linear;}
#BOXR5{animation: BOX3 600s infinite .6s linear;}
#BOXR6{animation: BOX3 600s infinite .7s linear;}
#BOXR7{animation: BOX3 600s infinite .8s linear;}
#BOXR8{animation: BOX3 600s infinite .9s linear;}
#BOXR9{animation: BOX3 600s infinite .10s linear;}
#BOXR10{animation: BOX3 600s infinite .11s linear;}
#BOXR11{animation: BOX3 600s infinite .12s linear;}



@keyframes BOX {
    from{
        transform: rotateX(70deg)
            rotateY(10deg)
            rotateZ(0deg)
            perspective(700px);
        transform-origin: center center;
    }

    to{
        transform: rotateX(70deg)
            rotateY(10deg)
            rotateZ(360deg)
            perspective(700px);
        transform-origin: center center;
    }
}

@keyframes BOX1 {
    from{
        transform: rotateX(0deg)
            rotateZ(0deg)
        
            rotateY(0deg);
            z-index: 49;
            background-color: white;
    }
    24.9%{z-index: 49;}
    25%{z-index: 51;}
    50%{z-index: 51;}
    75%{z-index: 51;}
    75.1%{z-index: 49;}
    to{
        transform: rotateX(360deg)
            rotateZ(360deg)
            rotateY(3333deg);
            z-index: 49;
            background-color: white;
    }
}

@keyframes BOX2 {
    from{
        transform: rotateX(20deg)
            rotateZ(10deg)
            /* perspective(1700px) */
            rotateY(0deg);
        transform-origin: center center -250px;
        z-index: 1;
        background-color: white;
        font-size: 80%;
    }
    24.9%{z-index: 1;}
    25%{
        z-index: 100;
    }
    50%{
        z-index: 100;
        font-size: 200%;
    }
    75%{
        z-index: 100;
    }
    75.1%{z-index: 1;}
    to{
        transform: rotateX(20deg)
            rotateZ(10deg)
            /* perspective(1700px) */
            rotateY(360deg);
        transform-origin: center center -250px;
        z-index: 1;
        background-color: white;
        font-size: 80%;
    }
}

@keyframes BOX3 {
    from{
        transform: rotateX(0deg)
            rotateZ(0deg)
        
            rotateY(0deg);
            z-index: 2;
            background-color: rgb(55, 0, 255);
    }
    24.9%{z-index: 2;}
    25%{z-index: 2;}
    50%{z-index: 2;}
    75%{z-index: 2;}
    75.1%{z-index: 2;}
    to{
        transform: rotateX(3600deg)
            rotateZ(0deg)
            rotateY(72000deg);
            z-index: 2;
            background-color: rgb(255, 0, 0);
    }
}


/* @keyframes BOXY2 {
    from{
        transform: rotateX(54deg)
            rotateY(17deg)
            rotateZ(0deg)
            perspective(700px)
            scale(17);
        transform-origin: center center;
        z-index: 50;
    }
    to{
        transform: rotateX(54deg)
            rotateY(17deg)
            rotateZ(0deg)
            perspective(700px)
            scale(17);
        transform-origin: center center;
        z-index: 50;
    }
} */

.Mr_Rainbow:active{
    animation: Mr_Rainbow 500ms infinite;
    cursor: none;
}

@keyframes Mr_Rainbow {
    0%{
        background: linear-gradient(
            -45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff
        );
    }

    14.3%{
        background: linear-gradient(
            -45deg,
            #7a00ff,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff
        );
    }

    28.6%{
        background: linear-gradient(
            -45deg,
            #002bff,
            #7a00ff,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5
        );
    }

    42.9%{
        background: linear-gradient(
            -45deg,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00
        );
    }

    57.1%{
        background: linear-gradient(
            -45deg,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff0000,
            #ff7300,
            #fffb00
        );
    }

    71.4%{
        background: linear-gradient(
            -45deg,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff0000,
            #ff7300
        );
    }

    85.7%{
        background: linear-gradient(
            -45deg,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff0000
        );
    }

    100%{
        background: linear-gradient(
            -45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff
        );
    }
}