html{
    background-color: black;
    background-image: url(IMGS/3.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

LinkSpace{
    width: 100%;
    height: 100%;
    font-size: 70px;
    font-style: italic;
}

Add{
    font-size: 20px;
    color: rgba(0, 162, 255, 0.274);
}

/*Basic_Font*/
BF{
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: none;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Shadows Into Light', cursive;
}

Text_Propile{
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: none;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}

Git_Link:hover{
    background-image: url(IMGS/Butten_Bass2.png);
}

Trello_Link:hover{
    background-image: url(IMGS/Butten_Bass2.png);
}

.bkg{
    color: white;
}