.LinkSpace{
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-style: italic;
}

IDXX{

    font-size: 30px;
}

Add{
    font-size: 17px;
    color: rgb(119, 183, 221);
}

/*Basic_Font*/
BF{
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: none;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Shadows Into Light', cursive;
}

Text_Propile{
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: none;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

.ANI{
    background-image: url(IMGS/Gerrd_Shadow_30.png);
}
.ANI:hover{
    background-image: url(IMGS/Gerrd_Shadow_90.png);
    color: rgb(166, 219, 255);
}
.ANI_N{
    color: white;
}
.ANI_N:hover{
    background-image: url(IMGS/Gerrd_Shadow_90.png);
    color: rgb(124, 240, 255);
}
.ANI_K{
    color: white;
    line-height: 20px;
}
.ANI_K:hover{
    background-image: url(IMGS/Gerrd_Shadow_60.png);
}
.ANI_Pr{
    background-image: url(IMGS/Gerrd_Highlight_30.png);
    color: black;
}
.ANI_Pr:hover{
    background-image: url(IMGS/Gerrd_Highlight_60.png);
    color: rgb(25, 0, 255);
    font-style: oblique;
    font-size: 100%;
}

.Title{
    font-size: 50px;
}

.White{
    color: white;
    font-size: 40px;
}

.Shadow{
    background-image: url(IMGS/Gerrd_Shadow_30.png);
    position: absolute;
}
.Shadow2{
    background-image: url(IMGS/Gerrd_Shadow_30.png);
}

.BackGround{
    background-image: url(IMGS/3.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.PPR{
    color: wheat;
    font-size: 40px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Shadows Into Light', cursive;
    background-color: aqua;
    background-image: url(IMGS/Gerrd_Shadow_60.png);
}

